<div class="card">
  <div class="card-header">

  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <label>
        <input
        id="chkUserVuelingImg"
        class="form-check-input"
        type="checkbox"
        (change)="checkChanged($event.target.checked)"
        [checked]="showVuelingImage"
        />Use Vueling Logo</label>

      </div>
      <div class="text-center">
        <h1 id="welcomeId">Welcome to VuelingTest</h1>
        <img id="vyImg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/Logo_Vueling.svg/2560px-Logo_Vueling.svg.png"
             class="img-responsive center-block"
             style="max-height:200px;padding-bottom:50px" *ngIf="showVuelingImage" />

         <img id="nsImg" src="https://www.newshore.es/media/1015/newshore_logo.png"
             class="img-responsive center-block"
             style="max-height:100px;padding-bottom:50px" *ngIf="!showVuelingImage" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Fernando Sanchez</h3>
      </div>
    </div>
  </div>
</div>
