<div class='table-responsive'>
  <table class='table'
         *ngIf='playersList.length > 0'>
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Birth of date</th>
        <th>News</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let player of playersList'>
        <td> {{ player.firstName }}</td>
        <td>{{ player.lastName }}</td>
        <td>{{ player.birthDate | date }}</td>
        <td><a [routerLink]="['./detail', player.id]"> View </a></td>
      </tr>
    </tbody>
  </table>
</div>
