<div class="card">
  <div class="card-header">
    <button
      class="btn btn-outline-secondary"
      style="width: 80px"
      (click)="onBack()"
    >
      <i class="fa fa-chevron-left"></i> Back
    </button>
  </div>

  <div class="card-footer"></div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="loader" *ngIf="!isDataLoaded"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="alert alert-warning" role="alert" *ngIf="!areNewsAvailable">
            There is no news for this player
          </div>
          <div class="form-group" *ngIf="isDataLoaded && areNewsAvailable">
            <label for="id">Title</label>
            <input
              disabled="true"
              type="text"
              name="id"
              class="form-control"
              [value]="playerNews.title"
            />
            <label for="id">Content</label>
            <textarea disabled=true name="content" id="contentId" cols="40" rows="4" class="form-control"
            [value]="playerNews.content"
            ></textarea>
            <label for="id">Source</label>
            <a [href]="playerNews.originalSourceUrl" target="_blank"> Open Link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
