
<div class='row'>
  <div class='col-md-8'>
    <label  for="teamsText">
			Active Teams
		</label>
    <form [formGroup]="teamsForm" novalidate>
      <select class="form-select" aria-label="Default select example" id ="teamOptions" formControlName="team" (change)="selectedTeamOption($event.target)">
        <option *ngFor="let c of teams" [value]="c.key" >{{c.fullName}}</option>
    </select>
    </form>
  </div>
  <div class="col-md-6 mx-auto">
    <div class="loader" *ngIf="!isDataLoaded"></div>
  </div>
</div>

