<div class='card'>
  <div class='card-header' id="pageTitleId">
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-4'>
        <app-teams></app-teams>
      </div>
    </div>
      <app-player-table [playersList]="playersList"></app-player-table>
  </div>
</div>
